header nav li a{
    color: #FF6464;
}

.Blog_blok{
    max-width: 940px;
}
.margin_blog_article{
    margin: 20px 0 32px 0;
    padding-bottom: 25px;
}

.Recent_article{
    background: white;
    border-radius: 4px;
}

.second_section_blog_subtitle{
    font:30px/44px 'heebobold';
    font-style: normal;
    color: #21243D;
}
