header nav li a{
    color: #FF6464;
}

.Blog_blok{
    max-width: 940px;
}
.margin_blog_article{
    margin: 20px 0px 32px 0px;
    padding-bottom: 25px;
}

.Recent_article{
    background: white;
    border-radius: 4px;
}

.second_section_blogsubtitle{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}
