@font-face {
    font-family: 'Heebo-Regular';
    src: url('../fonts/Heebo-Regular.eot');
    src: url('../fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Heebo-Regular.woff2') format('woff2'),
    url('../fonts/Heebo-Regular.woff') format('woff'),
    url('../fonts/Heebo-Regular.ttf') format('truetype'),
    url('../fonts/Heebo-Regular.svg#Heebo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo-Medium';
    src: url('../fonts/Heebo-Medium.eot');
    src: url('../fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Heebo-Medium.woff2') format('woff2'),
    url('../fonts/Heebo-Medium.woff') format('woff'),
    url('../fonts/Heebo-Medium.ttf') format('truetype'),
    url('../fonts/Heebo-Medium.svg#Heebo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('../fonts/Heebo-Bold.eot');
    src: url('../fonts/Heebo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Heebo-Bold.woff2') format('woff2'),
    url('../fonts/Heebo-Bold.woff') format('woff'),
    url('../fonts/Heebo-Bold.ttf') format('truetype'),
    url('../fonts/Heebo-Bold.svg#Heebo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo-Black';
    src: url('../fonts/Heebo-Black.eot');
    src: url('../fonts/Heebo-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Heebo-Black.woff2') format('woff2'),
    url('../fonts/Heebo-Black.woff') format('woff'),
    url('../fonts/Heebo-Black.ttf') format('truetype'),
    url('../fonts/Heebo-Black.svg#Heebo-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


*{
    padding: 0;

    margin: 0;
}

.display_flex{
    display: flex;
}

.margin_auto{
    margin: auto;
}

.justify_between{
    justify-content: space-between;
}

.justify_center{
    justify-content: center;
}

.text_center{
    text-align: center;
}

.pb33{
   padding-bottom: 33px;
}

.mt33{
    margin-top: 33px;
}

.ml20{
    margin-left: 20px;
}

header{
    padding-top: 27px;
}

ul{
    list-style: none;
}

header div{
    max-width: 1032px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    transition: 0.5s;
}

header nav ul li{
    margin-left: 33px;
    transition: 0.5s;
}

header nav ul li:hover{
    transform: scale(2);
}

.menu_blog{
    color: black;
}

.menu_blog:hover{
    color: #FF6464;
}

header nav li a{
    font-style: normal;
    font: 20px/29px 'Heebo-Medium';
    text-align: right;
    text-decoration: none;

}

.first_section{
    padding-top: 140px;
    padding-bottom: 71px;
}

.first_block{
    max-width: 856px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title{
    font:44px/60px 'Heebo-Bold';
    font-style: normal;
    color: #21243D;
    margin-bottom: 40px;
}

.first_textblock{
    max-width: 498px;
    font:16px/24px 'Heebo-Regular';
    font-style: normal;
    color: #21243D;
    margin-bottom: 38px;
}

.first_buttonblock{
    font: 20px/29px 'Heebo-Medium';
    font-style: normal;
    color: #FFFFFF;
    background: #FF6464;
    border-radius: 2px;
    text-decoration: none;
    padding: 13px 20px;
}

.second_section{
    background: #EDF7FA;;
}

.second_postblock{
    max-width: 856px;
}

.Recent_title{
    font:22px/60px 'Heebo-Regular';
    font-style: normal;
    display: flex;
    align-items: flex-end;
    color: #21243D;
}

.View_all{
    font:16px/24px 'Heebo-Regular';
    font-style: normal;
    text-align: right;
    color: #00A8CC;
    text-decoration: none;
    margin-top: 27px;
}

.Featured_works{
    font:22px/60px 'Heebo-Regular';
    font-style: normal;
    color: #21243D;
}

.Recent_article{
    padding: 24px 22px;
    max-width: 418px;
    background: white;
    border-radius: 4px;
}

.margin_article1{
    margin: 20px 0 32px 0;
}

.margin_article2{
     margin: 20px 0 32px 20px;
}

section article h3{
    font:26px/38px 'Heebo-Bold';
    font-style: normal;
    color: #21243D;
}

section article span{
    font:18px/26px 'Heebo-Regular';
    font-style: normal;
    color: #21243D;
    margin-top: 17px;
}

section article p{
    font:16px/24px 'Heebo-Regular';
    font-style: normal;
    color: #21243D;
    margin-top: 11px;
}

.date_list{
    font:20px/29px 'Heebo-Regular';
    font-style: normal;
    color: #21243D;
    padding-right: 25px;
    margin-right: 25px;
    border-right: 1.4px solid #000000;
}

.ml18{
    margin-left: 18px;
}

.date_href{
    background: #142850;
    border-radius: 16px;
    color: white;
    font:18px 'Heebo-Black';
    font-style: normal;
    padding: 4px 10px;
}

.name_href{
    font:20px/29px 'Heebo-Regular';
    font-style: normal;
    color: #8695A4;
}

.second_section_subtitle{
    font:30px/44px 'Heebo-Bold';
    font-style: normal;
    color: #21243D;
    margin-left: 18px;
}

.featured_list{
    max-width: 856px;
    margin: auto;
}

.featured_text{
    font:16px/24px 'Heebo-Regular';
    font-style: normal;
    color: #21243D;
    margin-top: 17px;
}

.list_border{
    border-bottom: 1px solid #E0E0E0;
}

.second_block{
    max-width: 243px;
    border-radius: 50%;
    overflow: hidden;
}

.image_block{
    width: 100%;
}

footer{
    padding-top: 52px;
    padding-bottom: 52px;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: center;

}

.icon_list{
    margin-left: 35px;
}

footer p{
    font:14px/21px 'Heebo-Regular';
    font-style: normal;
    text-align: center;
    color: #21243D;
    margin-top: 26px;
}
